@model SoalKe_1.Models.KalkulatorModel

@{
    ViewData["Title"] = "Kalkulator";
}

<h1>Kalkulator</h1>

<h4>Kalkulator Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Kalkulator">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Angka1" class="control-label"></label>
                <input asp-for="Angka1" class="form-control" />
                <span asp-validation-for="Angka1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angka2" class="control-label"></label>
                <input asp-for="Angka2" class="form-control" />
                <span asp-validation-for="Angka2" class="text-danger"></span>
            </div>
            <div class="btn-group">
                <input type="submit" asp-for="Operator" class="btn-primary" value="+" />
                <input type="submit" asp-for="Operator" class="btn-primary" value="-" />
                <input type="submit" asp-for="Operator" class="btn-primary" value="*" />
                <input type="submit" asp-for="Operator" class="btn-primary" value="/" />
            </div>
            <div class="form-group">
                <label asp-for="Hasil" class="control-label"></label>
                <input asp-for="Hasil" class="form-control" />
            </div>
        </form>
    </div>
</div>
